.h1MdpId {
  margin-top: 1rem;
}

.h3MdpId {
  color: var(--blue-background-text-color);
  word-spacing: 3px;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 2rem;
}

.linksMdpView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.linksMdp {
  color: red;
  line-height: 4rem;
}

.linksMdp2:nth-last-child(1) {
  color: #443f3f;
  line-height: 1rem;
}

@media screen and (min-width: 768px) {
  .linksMdpView {
    width: auto;
  }
}
