.network {
  color: lightgrey;
}

.galerie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1300px;
  margin: 70px auto 0;
}

.card{
  width: 300px;
  height: 350px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: linear-gradient(
    to right top,
    #004d7a,
    #008793
  );
}

.headerCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardBody {
  display: grid;
  justify-content: center;
  align-items: center;
  color:#f1f1f1;
  margin: 1rem;
}

.socialLink {
  color: yellow;
  text-decoration: none;
}

.hashtag, .instaName {
  color: yellowgreen;
}

.cardImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 1rem;
}


.card:hover {
  background-position: 100% 100%;
  background: #48ad26;
}
.card:hover .hashtag {
  color: #000;
}

